$purple-color: #6a0bff;
$purple-dot: #5533ff;
$purple-white: rgba(225, 206, 255, 1);
$background-white: #fff;
$background-gray: #f5f5f5;
$background-red-white: rgba(253, 216, 225, 1);
$background-red-grey: rgb(239, 171, 188);

$color-text-white: #fff;
$color-text-black: #1f1f1f;
$color-text-gray: rgba(140, 140, 140, 1);
$color-text-black-gray: rgba(48, 48, 48, 1);

$font-size-base: 16px;
$font-size-small: 14px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$error-background-color: rgba(231, 76, 60, 0.08);
$error-border: 1px solid rgba(231, 76, 60, 0.3);
$error-color: #f3164e;

// offline
// @font-face {
// 	font-family: 'Manrope';
// 	src: url(../assets/fonts/Manrope-Regular.ttf) format('ttf');
// 	font-optical-sizing: auto;
// 	font-display: swap;
// 	font-weight: weight;
// 	font-style: normal;
// }
