@use '../../../../app/styles/variables' as vars;

.sidebar {
	width: 24.5em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1.5em;
	padding: 1.5em;
	border-radius: 24px;
	background-color: vars.$background-white;
}

.sidebarHeader {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
}

.filterGroup {
	margin-bottom: 24px;
}

.filterTitle {
	margin-bottom: 0.5em;
	font-size: vars.$font-size-small;
	font-weight: vars.$font-weight-regular;
	line-height: 120%;
	color: vars.$color-text-gray;
}

.filterList {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.filterItem {
	padding: 0.375em 0.75em;
	border: 1px solid rgba(186, 186, 186, 1);
	border-radius: 8px;
	font-size: vars.$font-size-base;
	font-weight: vars.$font-weight-medium;
	line-height: 120%;
	cursor: pointer;
	transition: all 0.2s;
	background: vars.$background-white;

	&.active {
		border: 1px solid vars.$purple-color;
	}

	&:hover {
		color: #fff;
		background: vars.$purple-color;
	}
}

.showBtn {
	margin-top: 0.5em;
	background: none;
	border: none;
	font-size: vars.$font-size-small;
	cursor: pointer;
	text-decoration: underline;
	color: vars.$purple-color;
}

.filterBlock {
	margin-bottom: 0.6em;
}

.blockTitle {
	font-size: vars.$font-size-base;
	font-weight: vars.$font-weight-bold;
	margin-bottom: 0.75em;
}

.buttonGroup {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

.loading {
	padding: 5em 1.25em;
	min-height: 25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: vars.$font-size-base;
	color: vars.$color-text-gray;
	p {
		margin: 0;
		font-weight: vars.$font-weight-medium;
		color: vars.$color-text-gray;
	}
}

.spinner {
	margin-bottom: 1.25em;
	width: 3em;
	height: 3em;
	border: 5px solid vars.$background-gray;
	border-top: 5px solid vars.$purple-color;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	box-shadow: 0 0.25em 0.75em rgba(106, 11, 255, 0.1);
}

@media (max-width: 768px) {
	.modal {
		display: none;
		position: absolute;
		top: 2.5em;
		right: 7em;
		&_active {
			display: block;
		}
	}
}
@media (max-width: 360px) {
	.modal {
		top: 4.5em;
		right: 1em;
	}
	.sidebar {
		width: 20em;
		height: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
