$purple-color: #6a0bff;
$purple-dot: #5533ff;
$background-white: #fff;
$background-gray: #f5f5f5;

$color-text-white: #fff;
$color-text-black: #1f1f1f;
$color-text-gray: rgba(71, 71, 71, 1);
$color-text-black-gray: rgba(48, 48, 48, 1);

$font-size-base: 16px;
$font-size-small: 14px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$error-background-color: rgba(231, 76, 60, 0.08);
$error-border: 1px solid rgba(231, 76, 60, 0.3);
$error-color: #e74c3c;

// offline
// @font-face {
// 	font-family: 'Manrope';
// 	src: url(../assets/fonts/Manrope-Regular.ttf) format('ttf');
// 	font-optical-sizing: auto;
// 	font-display: swap;
// 	font-weight: weight;
// 	font-style: normal;
// }
