@use '../../styles/variables' as vars;

.searchForm {
	position: relative;
}

.searchIcon {
	position: absolute;
	left: 0.75em;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	z-index: 1;
}

.searchInput {
	width: 100%;
	padding: 0.875em 1.5em 0.875em 2.25em;
	border: 1px solid rgba(232, 232, 232, 1);
	border-radius: 68px;
	font-size: vars.$font-size-base;
	font-weight: vars.$font-weight-medium;
	line-height: 130%;
	&:hover,
	&:focus {
		border-color: vars.$purple-color;
	}
}
