@use '@/app/styles/variables' as vars;

.header {
	height: 4em;
	width: 97%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7em;
	background-color: #fff;
}
.left {
	display: flex;
	align-items: center;
	width: 41.125em;
	height: 2em;
}
.logo {
	display: flex;
	width: 9em;
	height: 2em;
	&_text {
		margin-left: 0.5em;
	}
}
.list {
	&_desktop {
		display: flex;
		height: 1.375em;
		justify-content: center;
	}
	&_tablet {
		display: none;
	}
}

.link {
	margin-left: 1.25em;
	list-style: none;
	text-decoration: none;
	font-size: vars.$font-size-base;
	font-weight: vars.$font-weight-medium;
	line-height: 140%;
	text-align: center;
	color: vars.$color-text-black;
}
.auth {
	&_desktop {
		display: flex;
		width: 14.625em;
		height: 3em;
	}
	&_tablet {
		display: none;
	}
}
.entrance {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 2.5em;
	height: 3em;
	border: 0 solid;
	color: vars.$purple-color;
	font-size: vars.$font-size-base;
	font-weight: vars.$font-weight-bold;
	line-height: 110%;
	text-align: center;
	background-color: #fff;
}
.registration {
	margin-left: 2.875em;
	width: 10.625em;
	height: 3em;
	border: 0 solid;
	font-size: 18px;
	font-weight: vars.$font-weight-bold;
	text-align: center;
	color: vars.$color-text-white;
	border-radius: 0.75em;
	background-color: vars.$purple-color;
}

@media (max-width: 768px) {
	.header {
		padding: 0 1.875em;
	}
	.left {
		gap: 2em;
	}
	.list {
		&_desktop {
			display: none;
		}
		&_tablet {
			width: 7.5em;
			height: 1.5em;
			display: flex;
		}
		.preparation {
			display: flex;
			border: none;
			font-weight: vars.$font-weight-medium;
			line-height: 140%;
			color: vars.$color-text-black;
			background: #fff;
		}
	}

	.auth {
		&_desktop {
			display: none;
		}
		&_tablet {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			.line {
				height: 1px;
				width: 1.5em;
				background: #000;
				border-radius: 4px;
			}
		}
	}
}

@media (max-width: 360px) {
	.header {
		padding: 0 0.625em;
	}
	.left {
		gap: 1.25em;
	}
	.list {
		&_desktop {
			display: none;
		}
		&_tablet {
			width: 7.5em;
			height: 1.5em;
			display: flex;
		}
		.preparation {
			display: flex;
			border: none;
			font-weight: vars.$font-weight-medium;
			line-height: 140%;
			color: vars.$color-text-black;
			background: #fff;
		}
	}
	.logo {
		width: 2em;
		&_text {
			&_none {
				display: none;
			}
		}
	}

	.auth {
		&_desktop {
			display: none;
		}
		&_tablet {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			.line {
				height: 1px;
				width: 1.5em;
				background: #000;
				border-radius: 4px;
			}
		}
	}
}
