@use '@/app/styles/variables.scss' as vars;

.steps {
	display: flex;
	justify-content: space-between;
	&_step {
		padding: 8px;
		height: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2px;
		border-radius: 12px;
		border: none;
		color: vars.$purple-color;
		cursor: pointer;
	}
}
